.passwordContainer {
    position: relative;

    .togglePassword {
        position: absolute;
        right: 0.5rem;
        top: 45%;
        cursor: pointer;
        border: none;
        background: none;
        font-size: 1rem;
        color: var(--neutral--txt);
        padding: 0.25rem;
    }
}

