.passwordContainer {
    position: relative;

    input[name="password"] {
        padding-right: 2.25rem;
    }

    .togglePassword {
        position: absolute;
        right: 0.5rem;
        top: 45%;
        cursor: pointer;
        border: none;
        background: none;
        font-size: 1rem;
        color: var(--neutral--txt);
        padding: 0.25rem;
    }
}


